<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.orobator.helloandroid.lesson10">

  <uses-permission android:name="android.permission.INTERNET"/>

  <application
      android:name=".StackOverflowApplication"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      tools:ignore="GoogleAppIndexingWarning">
    <activity
        android:name=".ItemListActivity"
        android:label="@string/title_item_list"
        android:theme="@style/AppTheme.NoActionBar">
    </activity>
    <activity
        android:name=".ItemDetailActivity"
        android:label="@string/title_item_detail"
        android:parentActivityName=".ItemListActivity"
        android:theme="@style/AppTheme.NoActionBar">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value="com.orobator.helloandroid.lesson10.ItemListActivity"/>
    </activity>
    <activity
        android:name=".FragmentActivity"
        android:theme="@style/AppTheme.NoActionBar"/>
    <activity
        android:name=".answers.view.AnswersActivity"
        android:parentActivityName=".questions.view.QuestionsActivity"/>
    <activity android:name=".questions.view.QuestionsActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>

</manifest>